.profile-xUayM {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.profile-container-aQy {
    height: 100vh;
}

.profile-user-picture-lQxY {
    margin-top: 50px;
}

.profile-header-rEzXm {
    max-height: 25vh;
    padding: 150px 0;
    background-color: #292d3e;
    -webkit-box-shadow: 0px -4px 16px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px -4px 16px -4px rgba(0,0,0,1);
    box-shadow: 0px -4px 16px -4px rgba(0,0,0,1);
}

.profile-username-NmQr {
    margin-right: 27px;
}

.profile-username-item-TqE {
    display: inline-block;
}

#profile-user-picture-aYxQ {
    width: 175px;
    height: auto;
    border-radius: 500px;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);
}

#profile-user-display-name-QmT {
    font-weight: bold;
    font-size: 22px;
}

#profile-user-username-sYxM {
    font-size: 25px;
}

#profile-user-badge-verified-inline-for-username-AqJ {
    margin-top: 8px;
    position: absolute;
    width: 20px;
    height: 20px;
}