.footer-uXnQm {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.footer-element-href-xUysm {
    display: inline-block;
    margin-right: 15px;
}

.footer-element-text-xYsM {
    text-decoration: none;
    color: #929ab1;
}

.footer-element-text-xYsM:hover {
    color: #c0c6da;
}