html { 
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-family: 'Economica', sans-serif;
    font-family: 'Padauk', sans-serif;
    background-color: #31364a;
    color: #929ac9;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, p, span, a, Link, button {
    color: #929ac9;
}

.global-badge-verified-tQn {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.loading-input-QxN {
    background-color: #8b8b8b;
    height: 22px;
    width: 80%;
}